.App {
  background: linear-gradient(-45deg, #edf508, #e8ebe3, #e0f3b5, #06080a);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  max-width: 500px;
  min-height: 300px;
  padding: 20px;
  margin: 30px auto;
  border-radius: 8px;
  border: 1px solid rgb(51, 33, 109);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
p {
  color: rgb(51, 33, 109);
  font-size: 50px;
  font-weight: 100px;
  text-align: center;
  font-weight: bolder;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 30px;
}
footer {
  text-align: center;
  font-size: 12px;
  margin-top: -24px;
}
a {
  color: rgb(51, 33, 109);
  font-weight: bold;
}
