.WeatherInfo h1 {
  color: rgb(51, 33, 109);
  font-size: 35px;
  font-weight: 100px;
  line-height: 1;
  margin-top: 30px;
  margin-bottom: -10px;
}
li {
  font-size: 16px;
  font-weight: 100px;
  line-height: 1.5;
  list-style: none;
  margin-left: -38px;
}
.ConditionList {
  margin-left: 344px;
  margin-top: -54px;
}
